@import "variables";
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'lato', 'titillium web', 'open sans', sans-serif;
    color: $black;
    font-size: 16px;
}
h1,
h2,
h3 {
    font-family: 'titillium web',cursive,sans-serif;
    cursor: default;
    text-align: justify;
}
h4,
p {
    cursor: default;
    text-align: justify;
    text-justify: distribute;
}
a,
a:active,
a:focus,
a:hover,
a:visited {
    color: inherit;
    background: inherit;
    text-decoration: none;
}
.vert-align {
    display: flex;
    align-items: center;
}
textarea {
    outline: none;
}
.section-title {
    position: relative;
    display: block;
    margin-bottom: 50px;
    &::before {
        content: '';
        border-bottom: 3px solid $cyan;
        width: 20%;
        position: absolute;
        bottom: -50px;
        right: 40%;
    }
}
/*==========Color classes==========*/
.green{color:$green;}
.darker-red{color: $darker-red;}
.red{color:$red;}
.blue{color:$blue;}
.cyan {color:$cyan;}
/*=====HEADER====================*/
.page-header {
    margin: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom right, rgba(48, 54, 102, 0.9), rgba(62, 17, 82, 1)), url("../img/swing.jpg") no-repeat center;
    background-size: cover;
    color: $white;
}
.header-text {
    margin-top: 40vh;
    max-width: 65%;
    h1 {
        color: $white;
    }
    p {
        font-size: 1.6rem;
    }
}
/*--------END HEADER-------/>*/
//============== FEATURES=================
.features {

    padding-bottom: 30px;
    padding-top: 40px;
    .ft-card {
        max-width: 100%;
        height: 20em;
        max-height: 25em;
        padding: 20px;
        margin: 40px auto 15px;
        color: $black;
        border-radius: 10px;
        text-align: center;
        p {
            margin-top: 5rem;
        }
        &:hover {
            box-shadow: 10px 10px 60px 2px #454545;
            transition: all 0.2s ease-in;
        }
    }
    .ft-card-img:before {
        // content property is defined
        // from fontawesome icon;
        display: block;
        border: 0.05em solid;
        border-radius: 50%;
        padding: 0.3em;
        font-size: 5rem;
        color: inherit;
    }
}
/* Animate.css manipulation */
.animated {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}
.cta-btn {
    display: block;
    padding: 2px 15px;
    margin: 60px auto;
    border-radius: 15px;
    font-size: 3rem;
    background: transparent;
    color: $red;
    border: 2px solid $red;
    a {
        color: inherit;
    }
    i {
        margin-left: 10px;
        position: relative;
        top: 2px;
        color: inherit;
    }
    &:hover,
    :active,
    :focus,
    :visited {
        outline: none;
        i {
            margin-left: 20px;
            transition: all 0.2s ease-in-out;
        }
    }
}
//
