/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media (max-width: 767px) {}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .header-text {
    max-width: 50%;
    p {
        font-size: 1.7rem;
    }
    h1 {
        // font-size: 3.5em;
    }
  }
  .features {
      .ft-card {
          margin-left: 10px;
          margin-right: 10px;
          padding: 20px;
          height: 22em;
          // box-shadow: 0 0 1px 0;
      }
  }
  .section-title {
      &::before {
          width: 10%;
          left: 45%;
      }
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .header-text{max-width: 40%;}
  .features {

      .ft-card {
          height: 20em;
      }
  }
  .section-title{margin-bottom:100px;
    &:before {width:5%;left:47%;}}
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}
/*--------------  END MEDIA QUERIES  -----------------*/
