// ======== colors===========
$black: #1d1919;
$white: #e9e9e9;
$red: #ff4532;
$darker-red: #e03928;
$green : #8BC34A;
$magenta : rgba(62, 17, 82, 1);
$blue: #368ce6;
$cyan: #09dacd;
$darker-blue: #00202f;
$gray: #9e9bab;


//
